{require_min_otp_vsn, "17"}.

{sub_dirs, ["deps", "deps/loom/simple_ne"]}.

{deps,
 [{dobby_oflib, ".", {git, "https://github.com/shivarammysore/dobby_oflib.git", {branch, "master"}}}
  %% Depend on of_msg_lib 0.3, for implicit prerequisite match fields
  %% when matching with masks.
 ,{of_msg_lib, "^0\\.[3-9]",{git, "https://github.com/FlowForwarding/of_msg_lib.git", {branch, "master"}}}
 ,{loom, ".", {git, "https://github.com/FlowForwarding/loom.git", {branch, "master"}}, [raw]}
 ]}.

{cover_enabled, true}.
